<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ct7liang.window">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".statusBar.TranslateBarTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".child.Main2Activity" />
        <activity android:name=".child.Main4Activity" />
        <activity android:name=".child.Main6Activity" />
        <activity android:name=".child.Main5Activity" />
        <activity android:name=".child.Main8Activity" />
        <activity android:name=".child.Main9Activity" />
        <activity android:name=".child.Main10Activity" />
        <activity android:name=".child.Main11Activity" />
        <activity android:name=".child.Main12Activity" />
        <activity android:name=".child.Main13Activity" />
        <activity android:name=".child.Main14Activity" />
        <activity android:name=".child.Main16Activity" />
        <activity android:name=".child.Main17Activity" />
        <activity android:name=".child.Main3Activity" />
        <activity android:name=".child.Main7Activity" />
        <activity android:name=".child.Main15Activity" />
        <activity android:name=".child.Main18Activity" />
        <activity android:name=".statusBar.Test1Activity" />
        <activity android:name=".statusBar.Test2Activity" />
        <activity android:name=".statusBar.Test3Activity" />
        <activity
            android:name=".statusBar.Test4Activity"
            android:label="@string/title_activity_test4"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>